@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  font-weight: 500;
  transition: none;
  font-family: 'Rubik', sans-serif;
}

button{
  transition: 0.5s ease;
}



a{
  text-decoration: none;
  color:navy;
}

a:hover{
  text-decoration: underline;
}

